// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	padding-top: 60px;
	padding-bottom: 40px;
}
	.sidebar-nav {
	padding: 9px 0;
}

.new_post_button {
	position:fixed;
	top:2px;
	right:250px;
	z-index:3000;
	white-space: nowrap;
}
.notices {
	margin:20px;
	margin-top:80px;
	text-align:right;
}

ul.posts_list {
	list-style-type:none;
}

/* profile image */
ul.posts_list img {
	margin:0px 20px 0px 0px
}

/* post title */
ul.posts_list li h4 {
	display:inline-block;
	margin-right:20px;
}

/* title + name line */
ul.posts_list li div:nth-child(2) { 
}

/* title + name line */
ul.posts_list li div:nth-child(2) span { 
	margin-left:-15px;
}	

/* date */
ul.posts_list li div:nth-child(4) { 
	margin: 20px 0px 0px 0px;
	font-size:60%

}
